<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorites_path(post), method: :delete, class: "favorite-btn", remote: true do %>
      <i class="fas fa-heart"></i><small><%= post.favorites.count %></small>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorites_path(post), method: :post, class: "favorite-btn", remote: true do %>
      <i class="far fa-heart"></i><small><%= post.favorites.count %></small>
    <% end %>
  </p>
<% end %>