<div class="post-all">
  <%= link_to "投稿一覧", posts_path, class: "all" %>
</div>
<div class="side">タグで探す</div>
<% tag_list.each do |list| %>
<span>
  <%= link_to list.tag_name, tag_posts_path(list.id), class: "tag" %>
</span>
<% end %>